@model dbVolunteer.HelpType

@{
    ViewBag.Title = "Add Ads";
}

@using (Html.BeginForm("AddAdsToDB", "Home", FormMethod.Post))
{
    @*@Html.EnumDropDownListFor(x => x.HelpTypeIva, Model, new {@class = "form-control"})*@
    @Html.Label("Help Type")
    @Html.TextBox("helpType")
    <br />
    @Html.Label("Description")
    @Html.TextBox("description")
    <br />
    @Html.Label("Address")
    @Html.TextBox("address")
    <br />
    @Html.Label("Organizer")
    @Html.TextBox("organizer")
    <br />
    @Html.Label("Comments")
    @Html.TextBox("comments")
    <input type="submit" value="Enter" />
}

<h2>AddAds</h2>

